{{>layouts/header}}
<a href="/articles/new">추가</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    {{#userList}}
        <tr>
            <td>{{id}}</td>
            <td><a href="{{id}}">{{email}}</a></td>
            <td>{{password}}</td>
        </tr>
    {{/userList}}
    </tbody>
</table>
{{>layouts/footer}}