{{>layouts/header}}
<a href="/articles/new">추가</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
    <tr>
        <td>{{id}}</td>
        <td><a href="{{id}}">{{title}}</a></td>
        <td>{{content}}</td>
    </tr>
    {{/articleList}}
    </tbody>
</table>
{{>layouts/footer}}